<mat-dialog-content>
    <div style="display: flex; align-items: center;">
        <!-- <img src="/assets/Image/Background/Skilltopia(Custom).png" alt="Skilltopia" style="width: 100px; height: auto;"> -->
        <strong>ASSISTANCE IS HERE!</strong>
      </div>      
    <!-- Town Centre -->
    <img src="/assets/Image/Buildings/townCentre_1.png" alt="Town Centre">
    <p><strong>Town Centre</strong></p>
    <p>The Town Centre is a cornerstone of Skilltopia, serving as the nucleus of a player's civilization and a key structure in the game. While not categorized as a Main Building or a Specialized building, the Town Centre plays a pivotal role in the progression of the game and the development of a player's civilization.</p>
    <p><strong>Central Hub:</strong> The Town Centre is the central hub from which a player's civilization emanates. It serves as the focal point for expansion, providing the foundation upon which the entire city is built. The Town Centre represents the starting point for players, where they initiate their journey from the Stone Age to more advanced epochs.</p>
    <p><strong>Age Advancement:</strong> One of the primary functions of the Town Centre is to facilitate the transition from one age to another. Players begin their journey in the Stone Age, and through the Town Centre, they can unlock and progress through ten distinct ages, including the Bronze Age, Iron Age, and beyond. Advancing to a new age unlocks additional levels for all buildings, allowing for more extensive development.</p>
    <p><strong>Population Growth:</strong> Constructing a Town Centre results in an immediate population gain of 50 individuals for the player's civilization. This population growth is critical, as it provides the labor force required for constructing and upgrading buildings. Acquiring and establishing multiple Town Centres can further amplify population growth, offering a significant strategic advantage.</p>
    <p><strong>Global Age Upgrade:</strong> The Town Centre plays a unique role in the global age upgrade process. Once a player successfully completes a challenging hard quiz in the Town Centre, their civilization advances to a new global age. This age advancement has far-reaching effects, as it extends the potential level cap for all buildings from 10 to 20, enabling more extensive development and progression.</p>
    <p><strong>Strategic Placement:</strong> The Town Centre is subject to specific placement constraints, as it can only be built on predefined settlement locations distributed across the map. With only 20 settlements available, acquiring and strategically placing Town Centres become a competitive aspect of the game. Securing settlements early can confer a substantial advantage in population growth and age advancement.</p>
    <p>In essence, the Town Centre symbolizes the heart and soul of a player's civilization in Skilltopia. It provides the foundation for development, enabling age progression, population growth, and the unlocking of new levels for all buildings. Moreover, the Town Centre's role in the global age upgrade process opens new horizons for advanced gameplay, offering players the opportunity to reach higher levels and achieve greater scores.</p>
  
    <!-- Main Buildings -->
    <img src="/assets/Image/Buildings/church_1.png" alt="Church">
    <p><strong>Church</strong></p>
    <p>The Church is a symbol of faith and spirituality within the game. Constructing a Church yields Faith Score, reflecting the strength of faith and belief within the player's civilization. This score not only adds depth to the gameplay but also influences the player's overall score, offering a unique path to victory.</p>
  
    <img src="/assets/Image/Buildings/hospital_1.png" alt="Hospital">
    <p><strong>Hospital</strong></p>
    <p>The Hospital is a bastion of safety and healthcare. Building a Hospital contributes to the Safety Score, emphasizing the importance of healthcare infrastructure. A higher Safety Score enhances the overall well-being of the player's civilization and bolsters their chances of success in the game.</p>
  
    <img src="/assets/Image/Buildings/market_1.png" alt="Market">
    <p><strong>Market</strong></p>
    <p>The Market is the epicentre of commerce and trade. Constructing a Market is instrumental in accumulating Business Score, reflecting the economic prowess of the player's civilization. This score influences the player's overall standing, underlining the significance of financial stability and trade acumen.</p>
  
    <img src="/assets/Image/Buildings/university_1.png" alt="University">
    <p><strong>University</strong></p>
    <p>The University stands as a beacon of education and knowledge. Building a University is an investment in the future, as it results in an increase in the Educational Score. This score underscores the player's commitment to intellectual growth and learning, contributing significantly to their overall score.</p>
  
    <!-- Specialized Buildings -->
    <img src="/assets/Image/Buildings/farm_1.png" alt="Farm">
    <p><strong>Farm</strong></p>
    <p>Farms are the primary source of food production, a critical resource required for the sustenance and expansion of the player's civilization. The rate of food generation varies based on the Farm's level, making it essential to upgrade for increased efficiency.</p>
  
    <img src="/assets/Image/Buildings/miningcamp_1.png" alt="Mining Camp">
    <p><strong>Mining Camp</strong></p>
    <p>Mining Camps are responsible for the extraction of valuable resources, namely gold and stone. These resources are vital for building construction and development. The rate of resource generation in mining camps is directly tied to their level, emphasizing the importance of upgrades.</p>
  
    <img src="/assets/Image/Buildings/lumbercamp_1.png" alt="Lumber Camp">
    <p><strong>Lumber Camp</strong></p>
    <p>Lumber Camps are dedicated to the production of wood, an essential resource used extensively in building construction. Like other resource-generating structures, the efficiency of wood production increases with the camp's level.</p>
  
    <img src="/assets/Image/Buildings/dock_1.png" alt="Dock">
    <p><strong>Dock</strong></p>
    <p>Docks play a pivotal role in fish production, a primary source of food. The efficiency of fish production escalates with the Dock's level, providing players with a steady supply of this vital resource.</p>
  
    <img src="/assets/Image/Buildings/factory_1.png" alt="Factory">
    <p><strong>Factory</strong></p>
    <p>Factories are the key to converting resources (vegetables or fish) into food, an indispensable commodity for constructing buildings. These structures enable players to optimize their resource utilization and meet their civilization's food requirements.</p>
  
    <p>The interplay between Main Buildings and Specialized Structures forms the strategic backbone of Skilltopia, making each decision regarding construction and development a critical component of success in the game.</p>
  </mat-dialog-content>
  