<!-- Lobby Code Input Form -->
<div class="flex flex-col items-center justify-center min-h-screen" style="background-image: url('/assets/Image/Background/BackgroundImg.jpeg'); background-size: cover; background-position: center;">
  <input type="text" [(ngModel)]="userName" placeholder="Enter your name" class="mb-4 px-4 py-2 border rounded">
  <input type="text" [(ngModel)]="roomName" placeholder="Enter your Room ID" class="mb-4 px-4 py-2 border rounded">
  <button (click)="joinGame()" class="px-4 py-2 bg-blue-500 text-white rounded">Submit</button>
  <p class="absolute bottom-0 mb-20">For best experience play in full screen</p>
</div>
    
    